.hBack{
  background-image: url("https://media.istockphoto.com/id/1092110072/photo/tractor-spraying-a-field-of-soybean.webp?b=1&s=170667a&w=0&k=20&c=Pn9R5ClPwedhAlOIiGji8jFp_6mDVhgGFI_-d4uOKlU=");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.card{
  box-shadow: 1px 3px 5px 1px;
}

.imgg{
  height: 20rem;
}

.navigation{
  justify-content: right;
}

.nav-item{
  padding: 10px;
}

a:hover{
  color: rgb(1, 5, 1);
  font-weight: bold;
}
